.form-control{
	border-width: 2px;
}

.filebox label { /* 파일 선택 버튼으로 쓰일 label */
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    font-size: 0.9em;
}
 
.filebox input[type="file"] {  /* 파일 필드 숨기기 */ 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0; 
} 

#img_resize { /* 이미지 크기 지정 */
	max-width: 665px;
   	height: auto;
}
